<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!-- CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href={{ url_for('static', filename='css/form-element.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
    <style>
        body{background-image:url("{{ url_for('static',filename='images/login_background.jpg')}}")}
        input[type=checkbox] {
            width: 20px;
            height: 20px;
        }
    </style>
</head>
<body>
<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" style="line-height:1.5">&times;</button>
                    {{ message}}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h2>身份认证</h2>
                            <p>{{ motto }}</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="" method="post" class="login-form">
                            {{ form.csrf_token }}
                            <div class="form-group">
                                {{ form.nickname.label(class="control-label") }}：
                                {{ form.nickname(class="form-username form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="control-label") }}：
                                {{ form.password(class="form-password form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.remember_me }}{{ form.remember_me.label(style="vertical-align:top") }}</div>
                            {{ form.submit(class="btn") }}
                        </form>
                        <p><a href="{{ url_for('auth.register',_external=True) }}"><i class="fa fa-user-plus"
                                                                                     aria-hidden="true"></i> 新用户注册</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>

