<?xml version="1.0" encoding="gbk" ?>
<FillModes>
    <FillMode name="淤泥质" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0">
            <vertex x="10" y="70"/>
            <vertex x="15" y="75"/>
            <vertex x="25" y="65"/>
            <vertex x="30" y="70"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="60" y="25"/>
            <vertex x="65" y="30"/>
            <vertex x="75" y="20"/>
            <vertex x="80" y="25"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="粘土" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0">
            <vertex x="100" y="100"/>
            <vertex x="0" y="0"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="粉质粘土" custom="0">
        <Group StepX="200" StepY="200">
            <meta type="pline" random="0">
            <vertex x="0" y="0"/>
            <vertex x="200" y="200"/>
            </meta>
            <meta type="pline" random="0" style="1" width="1" R="0" G="0" B="0">
            <vertex x="0" y="100"/>
            <vertex x="100" y="200"/>
            </meta>
            <meta type="pline" random="0" style="1" width="1" R="0" G="0" B="0">
            <vertex x="100" y="0"/>
            <vertex x="200" y="100"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="砂质粉土" custom="0">
        <Group StepX="200" StepY="200">
            <meta type="pline" random="0" style="1" width="1" R="0" G="0" B="0">
            <vertex x="0" y="0"/>
            <vertex x="200" y="200"/>
            </meta>
            <meta type="pline" random="0" style="2" width="1" R="0" G="0" B="0">
            <vertex x="0" y="100"/>
            <vertex x="100" y="200"/>
            </meta>
            <meta type="pline" random="0" style="2" width="1" R="0" G="0" B="0">
            <vertex x="100" y="0"/>
            <vertex x="200" y="100"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="粘质粉土" custom="0">
        <Group StepX="200" StepY="200">
            <meta type="pline" random="0" style="1" width="1" R="0" G="0" B="0">
            <vertex x="0" y="0"/>
            <vertex x="200" y="200"/>
            </meta>
            <meta type="pline" random="0" style="1" width="1" R="0" G="0" B="0">
            <vertex x="0" y="100"/>
            <vertex x="100" y="200"/>
            </meta>
            <meta type="pline" random="0" style="1" width="1" R="0" G="0" B="0">
            <vertex x="100" y="0"/>
            <vertex x="200" y="100"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="填土" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0">
            <vertex x="0" y="0"/>
            <vertex x="100" y="100"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="40" y="60"/>
            <vertex x="60" y="40"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="30" y="50"/>
            <vertex x="50" y="30"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="50" y="70"/>
            <vertex x="70" y="50"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0">
            <vertex x="0" y="0"/>
            <vertex x="100" y="100"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="40" y="60"/>
            <vertex x="60" y="40"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="50" y="70"/>
            <vertex x="70" y="50"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="30" y="50"/>
            <vertex x="50" y="30"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="杂填土" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0">
            <vertex x="100" y="100"/>
            <vertex x="0" y="0"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="40" y="60"/>
            <vertex x="60" y="40"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="30" y="50"/>
            <vertex x="50" y="30"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="50" y="70"/>
            <vertex x="70" y="50"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="素填土" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0">
            <vertex x="100" y="100"/>
            <vertex x="0" y="0"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="0" y="100"/>
            <vertex x="100" y="0"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="浜填土" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0">
            <vertex x="10" y="70"/>
            <vertex x="15" y="75"/>
            <vertex x="25" y="65"/>
            <vertex x="30" y="70"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="60" y="25"/>
            <vertex x="65" y="30"/>
            <vertex x="75" y="20"/>
            <vertex x="80" y="25"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
        </Group>
    </FillMode>
    <FillMode name="冲填土" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="70" y="90"/>
            <vertex x="60" y="80"/>
            <vertex x="70" y="70"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="70" y="84"/>
            <vertex x="89" y="84"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="70" y="75"/>
            <vertex x="89" y="75"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="20" y="40"/>
            <vertex x="10" y="30"/>
            <vertex x="20" y="20"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="21" y="35"/>
            <vertex x="40" y="35"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="21" y="25"/>
            <vertex x="41" y="25"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="吹填土" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0">
            <vertex x="20" y="40"/>
            <vertex x="10" y="30"/>
            <vertex x="20" y="20"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="21" y="36"/>
            <vertex x="40" y="36"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="22" y="27"/>
            <vertex x="41" y="27"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="70" y="90"/>
            <vertex x="60" y="80"/>
            <vertex x="70" y="70"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="70" y="84"/>
            <vertex x="89" y="84"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="70" y="75"/>
            <vertex x="89" y="75"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="淤泥" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0">
            <vertex x="10" y="70"/>
            <vertex x="15" y="75"/>
            <vertex x="25" y="65"/>
            <vertex x="30" y="70"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="60" y="25"/>
            <vertex x="65" y="30"/>
            <vertex x="75" y="20"/>
            <vertex x="80" y="25"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="粉砂" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="37" CenterY="61" RadiusX="1"
                  RadiusY="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="5" style="0" width="1" R="0" G="0" B="0" CenterX="49" CenterY="59" Radius="2">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="text" random="0" style="0" width="1" R="0" G="0" B="0" text="f">
            </meta>
        </Group>
    </FillMode>
    <FillMode name="细砂" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="circle" random="6" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="5" style="0" width="1" R="0" G="0" B="0" CenterX="49" CenterY="56" Radius="0">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="4" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="60" Radius="2">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="text" random="0" style="0" width="1" R="0" G="0" B="0" text="x">
            </meta>
        </Group>
    </FillMode>
    <FillMode name="中砂" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="circle" random="6" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="5" style="0" width="1" R="0" G="0" B="0" CenterX="49" CenterY="69" Radius="2">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="text" random="0" style="0" width="1" R="0" G="0" B="0" text="z">
            </meta>
        </Group>
    </FillMode>
    <FillMode name="粗砂" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="circle" random="6" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="5" style="0" width="1" R="0" G="0" B="0" CenterX="39" CenterY="65" RadiusX="2"
                  RadiusY="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="8" style="0" width="1" R="0" G="0" B="0" CenterX="52" CenterY="71" RadiusX="1"
                  RadiusY="3">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="8" style="0" width="1" R="0" G="0" B="0" CenterX="39" CenterY="35" Radius="2">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="text" random="0" style="0" width="1" R="0" G="0" B="0" text="c">
            </meta>
        </Group>
    </FillMode>
    <FillMode name="砾砂" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="circle" random="10" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="5" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" RadiusX="2"
                  RadiusY="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="5" style="0" width="1" R="0" G="0" B="0" CenterX="29" CenterY="67" RadiusX="3"
                  RadiusY="2">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="4" style="0" width="1" R="0" G="0" B="0" CenterX="47" CenterY="29" Radius="2">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="text" random="0" style="0" width="1" R="0" G="0" B="0" text="l">
            </meta>
        </Group>
    </FillMode>
    <FillMode name="粉细砂" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="circle" random="6" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="37" CenterY="61" RadiusX="1"
                  RadiusY="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="5" style="0" width="1" R="0" G="0" B="0" CenterX="49" CenterY="59" Radius="2">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="text" random="0" style="0" width="1" R="0" G="0" B="0" text="f">
            </meta>
        </Group>
    </FillMode>
    <FillMode name="浜土" custom="0">
        <Group StepX="200" StepY="200">
            <meta type="pline" random="0">
            <vertex x="20" y="150"/>
            <vertex x="30" y="160"/>
            <vertex x="50" y="140"/>
            <vertex x="60" y="150"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="120" y="50"/>
            <vertex x="130" y="60"/>
            <vertex x="150" y="40"/>
            <vertex x="160" y="50"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="含砾中粗砂" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="circle" random="6" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="5" style="0" width="1" R="0" G="0" B="0" CenterX="49" CenterY="69" Radius="2">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="text" random="0" style="0" width="1" R="0" G="0" B="0" text="z">
            </meta>
        </Group>
    </FillMode>
    <FillMode name="粉土" custom="0">
        <Group StepX="200" StepY="200">
            <meta type="pline" random="0" style="1" width="1" R="0" G="0" B="0">
            <vertex x="0" y="0"/>
            <vertex x="200" y="200"/>
            </meta>
            <meta type="pline" random="0" style="1" width="1" R="0" G="0" B="0">
            <vertex x="0" y="100"/>
            <vertex x="100" y="200"/>
            </meta>
            <meta type="pline" random="0" style="1" width="1" R="0" G="0" B="0">
            <vertex x="100" y="0"/>
            <vertex x="200" y="100"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="含砾中砂" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="circle" random="6" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="5" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" RadiusX="2"
                  RadiusY="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="6" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="5" style="0" width="1" R="0" G="0" B="0" CenterX="49" CenterY="69" Radius="2">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="text" random="0" style="0" width="1" R="0" G="0" B="0" text="z">
            </meta>
        </Group>
    </FillMode>
    <FillMode name="含砾粉细砂" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="5" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" RadiusX="2"
                  RadiusY="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="6" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="5" style="0" width="1" R="0" G="0" B="0" CenterX="49" CenterY="56" Radius="0">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="10" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="60" Radius="2">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="text" random="0" style="0" width="1" R="0" G="0" B="0" text="f">
            </meta>
        </Group>
    </FillMode>
    <FillMode name="淤泥质粉质粘土" custom="0">
        <Group StepX="200" StepY="200">
            <meta type="pline" random="0">
            <vertex x="0" y="0"/>
            <vertex x="200" y="200"/>
            </meta>
            <meta type="pline" random="0" style="1" width="1" R="0" G="0" B="0">
            <vertex x="0" y="100"/>
            <vertex x="100" y="200"/>
            </meta>
            <meta type="pline" random="0" style="1" width="1" R="0" G="0" B="0">
            <vertex x="100" y="0"/>
            <vertex x="200" y="100"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0">
            <vertex x="10" y="65"/>
            <vertex x="15" y="70"/>
            <vertex x="25" y="60"/>
            <vertex x="30" y="65"/>
            </meta>
            <meta type="pline" random="0">
            <vertex x="60" y="25"/>
            <vertex x="65" y="30"/>
            <vertex x="75" y="20"/>
            <vertex x="80" y="25"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="淤泥质粘土" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="0" y="0"/>
            <vertex x="100" y="100"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="20" y="80"/>
            <vertex x="25" y="85"/>
            <vertex x="35" y="75"/>
            <vertex x="40" y="80"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="泥碳土" custom="0">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="2" R="0" G="0" B="0">
            <vertex x="21" y="79"/>
            <vertex x="50" y="77"/>
            <vertex x="51" y="77"/>
            <vertex x="26" y="74"/>
            <vertex x="45" y="73"/>
            <vertex x="31" y="71"/>
            <vertex x="39" y="68"/>
            <vertex x="32" y="65"/>
            <vertex x="38" y="63"/>
            <vertex x="36" y="62"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="角砾混粘性土" custom="1">
        <Group StepX="200" StepY="200">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="1" y="1"/>
            <vertex x="199" y="199"/>
            </meta>
        </Group>
        <Group StepX="200" StepY="200">
            <meta type="pline" random="0" style="1" width="1" R="0" G="0" B="0">
            <vertex x="1" y="100"/>
            <vertex x="100" y="199"/>
            </meta>
        </Group>
        <Group StepX="200" StepY="200">
            <meta type="pline" random="0" style="1" width="1" R="0" G="0" B="0">
            <vertex x="100" y="1"/>
            <vertex x="199" y="100"/>
            </meta>
        </Group>
        <Group StepX="200" StepY="200">
            <meta type="ellipse" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="60" CenterY="179"
                  RadiusX="24" RadiusY="20">
            </meta>
        </Group>
        <Group StepX="200" StepY="200">
            <meta type="ellipse" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="123" CenterY="141"
                  RadiusX="42" RadiusY="44">
            </meta>
        </Group>
        <Group StepX="200" StepY="200">
            <meta type="ellipse" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="65" CenterY="50" RadiusX="49"
                  RadiusY="21">
            </meta>
        </Group>
    </FillMode>
    <FillMode name="强风化花岗岩" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="11" y="79"/>
            <vertex x="41" y="79"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="26" y="95"/>
            <vertex x="26" y="63"/>
            </meta>
        </Group>
        <Group StepX="200" StepY="200">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="63" y="10"/>
            <vertex x="64" y="27"/>
            <vertex x="59" y="33"/>
            <vertex x="64" y="26"/>
            <vertex x="63" y="10"/>
            <vertex x="66" y="10"/>
            <vertex x="68" y="29"/>
            <vertex x="74" y="38"/>
            <vertex x="73" y="31"/>
            <vertex x="70" y="29"/>
            <vertex x="68" y="42"/>
            <vertex x="65" y="35"/>
            <vertex x="66" y="29"/>
            <vertex x="68" y="10"/>
            </meta>
        </Group>
        <Group StepX="200" StepY="200">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="60" y="35"/>
            <vertex x="64" y="31"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="中风化火山凝灰岩" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="99" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="89" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="79" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="69" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="59" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="40" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="30" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="20" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="10" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="30" y="79"/>
            <vertex x="30" y="59"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="30" y="40"/>
            <vertex x="30" y="20"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="99" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="69" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="59" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="40" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="30" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="70" CenterY="79" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="70" CenterY="70" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="70" y="59"/>
            <vertex x="70" y="40"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="70" CenterY="30" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="70" CenterY="20" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="90" y="1"/>
            <vertex x="90" y="20"/>
            <vertex x="99" y="29"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="90" y="20"/>
            <vertex x="81" y="29"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="84" y="16"/>
            <vertex x="96" y="16"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="84" y="9"/>
            <vertex x="96" y="9"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="强风化火山凝灰岩" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="99" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="90" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="80" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="70" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="59" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="40" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="30" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="20" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="10" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="30" y="79"/>
            <vertex x="30" y="60"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="30" y="40"/>
            <vertex x="30" y="20"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="99" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="70" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="60" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="40" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="30" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="70" CenterY="80" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="70" CenterY="70" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="70" y="59"/>
            <vertex x="70" y="40"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="70" CenterY="30" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="70" CenterY="20" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="89" y="20"/>
            <vertex x="99" y="30"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="89" y="20"/>
            <vertex x="80" y="30"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="83" y="18"/>
            <vertex x="96" y="18"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="83" y="8"/>
            <vertex x="96" y="8"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="89" y="20"/>
            <vertex x="89" y="1"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="83" y="13"/>
            <vertex x="96" y="13"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="全风化火山凝灰岩" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="99" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="90" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="80" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="70" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="60" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="9" CenterY="40" Radius="0">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="40" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="30" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="20" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="10" CenterY="10" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="30" y="79"/>
            <vertex x="30" y="59"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="30" y="40"/>
            <vertex x="30" y="20"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="99" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="70" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="60" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="50" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="40" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="30" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="70" CenterY="80" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="70" CenterY="70" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="70" y="60"/>
            <vertex x="70" y="40"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="70" CenterY="30" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="70" CenterY="20" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="90" y="1"/>
            <vertex x="90" y="20"/>
            <vertex x="99" y="30"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="90" y="20"/>
            <vertex x="80" y="30"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="85" y="5"/>
            <vertex x="96" y="17"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="83" y="17"/>
            <vertex x="96" y="5"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="砾岩" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="47" CenterY="71" RadiusX="12"
                  RadiusY="5">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="2" y="31"/>
            <vertex x="101" y="31"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="泥岩" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="8" y="64"/>
            <vertex x="23" y="64"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="41" y="64"/>
            <vertex x="58" y="64"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="74" y="63"/>
            <vertex x="88" y="63"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="1" y="36"/>
            <vertex x="99" y="36"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="强风化泥岩" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="5" y="70"/>
            <vertex x="21" y="70"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="41" y="70"/>
            <vertex x="60" y="70"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="79" y="69"/>
            <vertex x="97" y="69"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="16" y="37"/>
            <vertex x="40" y="37"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="61" y="37"/>
            <vertex x="84" y="37"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="强风化砾岩" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="47" CenterY="68" RadiusX="6"
                  RadiusY="3">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="5" y="33"/>
            <vertex x="33" y="33"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="59" y="33"/>
            <vertex x="87" y="33"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="吹（冲）填土" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="20" y="41"/>
            <vertex x="10" y="31"/>
            <vertex x="20" y="21"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="20" y="35"/>
            <vertex x="41" y="35"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="20" y="26"/>
            <vertex x="42" y="26"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="69" y="90"/>
            <vertex x="59" y="79"/>
            <vertex x="70" y="68"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="69" y="84"/>
            <vertex x="89" y="84"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="69" y="75"/>
            <vertex x="89" y="75"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="砂岩" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="47" CenterY="56" RadiusX="22"
                  RadiusY="0">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="26" CenterY="58" RadiusX="0"
                  RadiusY="4">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="2" y="51"/>
            <vertex x="98" y="51"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="2" y="1"/>
            <vertex x="99" y="1"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="74" RadiusX="4"
                  RadiusY="6">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="ellipse" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="50" CenterY="26" RadiusX="4"
                  RadiusY="7">
            </meta>
        </Group>
    </FillMode>
    <FillMode name="含粘性土粉砂" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="circle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="49" CenterY="62" Radius="2">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="36" CenterY="59" Radius="0">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="37" CenterY="60" Radius="0">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="33" CenterY="59" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="text" random="0" style="0" width="1" R="0" G="0" B="0" text="f">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="62" CenterY="59" Radius="2">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="circle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="35" CenterY="69" Radius="2">
            </meta>
        </Group>
    </FillMode>
    <FillMode name="浜杂填土" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="99" y="99"/>
            <vertex x="1" y="1"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="41" y="59"/>
            <vertex x="59" y="41"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="31" y="50"/>
            <vertex x="50" y="31"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="50" y="69"/>
            <vertex x="69" y="50"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="11" y="69"/>
            <vertex x="16" y="75"/>
            <vertex x="27" y="64"/>
            <vertex x="31" y="69"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="59" y="25"/>
            <vertex x="64" y="31"/>
            <vertex x="74" y="21"/>
            <vertex x="79" y="25"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="抛石" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="23" y="90"/>
            <vertex x="8" y="78"/>
            <vertex x="14" y="54"/>
            <vertex x="37" y="56"/>
            <vertex x="36" y="75"/>
            <vertex x="42" y="85"/>
            <vertex x="22" y="88"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="64" y="25"/>
            <vertex x="54" y="12"/>
            <vertex x="85" y="12"/>
            <vertex x="63" y="25"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="卵石" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="poly" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="21" y="85"/>
            <vertex x="15" y="76"/>
            <vertex x="24" y="78"/>
            <vertex x="21" y="84"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="poly" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="35" y="21"/>
            <vertex x="33" y="15"/>
            <vertex x="42" y="20"/>
            <vertex x="35" y="22"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="poly" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="84" y="77"/>
            <vertex x="84" y="69"/>
            <vertex x="88" y="74"/>
            <vertex x="83" y="77"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="text" random="0" style="0" width="1" R="0" G="0" B="0" text="Z">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="21" CenterY="62" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="15" CenterY="29" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="64" CenterY="32" Radius="1">
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="fcircle" random="0" style="0" width="1" R="0" G="0" B="0" CenterX="70" CenterY="88" Radius="1">
            </meta>
        </Group>
    </FillMode>
    <FillMode name="浜底淤泥" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="14" y="70"/>
            <vertex x="21" y="75"/>
            <vertex x="31" y="62"/>
            <vertex x="40" y="68"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="59" y="30"/>
            <vertex x="69" y="37"/>
            <vertex x="80" y="25"/>
            <vertex x="87" y="30"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="60" y="69"/>
            <vertex x="82" y="69"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="14" y="30"/>
            <vertex x="40" y="30"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="河底淤泥" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="11" y="69"/>
            <vertex x="20" y="74"/>
            <vertex x="30" y="59"/>
            <vertex x="39" y="65"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="60" y="31"/>
            <vertex x="70" y="36"/>
            <vertex x="80" y="20"/>
            <vertex x="89" y="25"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="41" y="69"/>
            <vertex x="60" y="69"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="41" y="21"/>
            <vertex x="60" y="21"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="水" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="11" y="80"/>
            <vertex x="31" y="80"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="31" y="59"/>
            <vertex x="50" y="59"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="50" y="41"/>
            <vertex x="69" y="41"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="69" y="21"/>
            <vertex x="91" y="21"/>
            </meta>
        </Group>
    </FillMode>
    <FillMode name="江底淤泥" custom="1">
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="19" y="69"/>
            <vertex x="29" y="79"/>
            <vertex x="49" y="60"/>
            <vertex x="58" y="69"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="50" y="33"/>
            <vertex x="60" y="41"/>
            <vertex x="78" y="22"/>
            <vertex x="88" y="29"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="70" y="69"/>
            <vertex x="92" y="69"/>
            </meta>
        </Group>
        <Group StepX="100" StepY="100">
            <meta type="pline" random="0" style="0" width="1" R="0" G="0" B="0">
            <vertex x="19" y="26"/>
            <vertex x="39" y="26"/>
            </meta>
        </Group>
    </FillMode>
</FillModes>
